In [224]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline
import re
import cpi

import plotly.offline
import plotly.graph_objs as go
plotly.offline.init_notebook_mode(connected = True)

In [225]:
# source fo the data https://www.kaggle.com/c/tmdb-box-office-prediction/data

train_df = pd.read_csv('./data/train.csv')
test_df = pd.read_csv('./data/test.csv')

df = pd.concat([train_df, test_df])
cols = ['original_title', 'title', 'genres', 'popularity', 'homepage', 'original_language', 'production_companies', 'runtime', 'release_date', 'budget']
df = df[cols]

/Users/yueying.teng/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [226]:
def col_string_extraction(col_name):

    col_name_list = []

    for i in range(df.shape[0]):
        st = df[col_name].iloc[i]
        # some movies have production compnaies as null
        if type(st) != str:
            col_name_list.append(['NaN'])
        
        else:
            subs = re.findall("\{(.*?)\}", str(st))

            col = []
            for j in range(len(subs)):
                extracted = re.findall("\: '(.*?)\'", subs[j])
                # some entries do not fit in the regex above
                if len(extracted) != 0:
                    col.append(extracted[0])
                else:
                    continue

            col_name_list.append(col)
    
    return col_name_list

In [227]:
production_company_list = col_string_extraction('production_companies')
# only look into the first genre if the movie has more than one genre
genre_list = col_string_extraction('genres')
one_genre_list = [genre_list[i][0] for i in range(len(genre_list))]

df.insert(2, 'genre', one_genre_list)
df.insert(4, 'production_company', production_company_list)

df = df.drop(['genres', 'production_companies'], axis = 1)

In [228]:
# extract release year and store in the following format xxxx

release_year = df['release_date'].apply(lambda x: str(x).split('/')[-1])

release_year_adj = []

for i in range(len(release_year)):
    
    if str(release_year.iloc[i]) == 'nan':
        release_year_adj.append('NaN')
    
    else:
        if 0 <= int(release_year.iloc[i]) <= 20:
            year = str(20) + str(release_year.iloc[i])
            release_year_adj.append(year)
        else:
            year = str(19) + str(release_year.iloc[i])
            release_year_adj.append(year)
        
df.insert(8, 'release_year', release_year_adj)

### Genre

In [75]:
# genre dist for the major production companies 

companies = df['production_company'].values
unique_companies = [i for sub in companies for i in sub]
v, c = np.unique(unique_companies, return_counts = True)
value = v[np.argsort(-c)]
count = c[np.argsort(-c)]

np.asarray((value, count)).T[: 11]

array([['Warner Bros.', '491'],
       ['Universal Pictures', '463'],
       ['NaN', '414'],
       ['Paramount Pictures', '393'],
       ['Twentieth Century Fox Film Corporation', '341'],
       ['Columbia Pictures', '236'],
       ['Metro-Goldwyn-Mayer (MGM)', '207'],
       ['New Line Cinema', '198'],
       ['Touchstone Pictures', '158'],
       ['Walt Disney Pictures', '147'],
       ['Columbia Pictures Corporation', '140']], dtype='<U86')

In [99]:
top_companies = value[: 11]
top_companies = np.delete(top_companies, 2)

genre = np.unique(df['genre'])
# remove NaN from the array of all genres
genre = [genre[i] for i in range(len(genre)) if genre[i] != 'NaN']

starter = np.zeros((len(top_companies), len(genre)))
company_genre_df = pd.DataFrame(starter, columns = genre, index = top_companies)
# company_genre_df

In [116]:
for i in range(df.shape[0]):
    
    company_list = df['production_company'].iloc[i]
    genre = df['genre'].iloc[i]
    
    for j in range(len(company_list)):
        if company_list[j] not in top_companies:
            continue
        else:
            company_genre_df.loc[company_list[j]][genre] += 1

In [120]:
# Columbia Pictures Corporation (1924â€“1968)

company_genre_df['num_movies'] = list(company_genre_df.sum(axis = 1))
# company_genre_df

In [133]:
# favouriate genre of the industry represented by these 10 production companies
print (np.argmax(company_genre_df.iloc[:, : -1].sum(axis = 0)))

# favouriate genre of each company 
company_genre_df.iloc[:, :-1].idxmax(axis = 1)

Comedy

/Users/yueying.teng/miniconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:51: FutureWarning:

'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.

Warner Bros.                                 Action
Universal Pictures                           Comedy
Paramount Pictures                           Comedy
Twentieth Century Fox Film Corporation       Comedy
Columbia Pictures                             Drama
Metro-Goldwyn-Mayer (MGM)                     Drama
New Line Cinema                              Comedy
Touchstone Pictures                          Comedy
Walt Disney Pictures                      Animation
Columbia Pictures Corporation                Comedy
dtype: object

In [280]:
genre_list = company_genre_df.columns[: -1]

fig = {'data': [
        {
            'labels': genre_list,
            'values': company_genre_df.iloc[0, : -1],
            'type': 'pie',
            'name': company_genre_df.index[0],
            'domain': {'x': [0, .48],
                       'y': [0, .49]},
            'hoverinfo':'label+percent+name',
            'textinfo':'none'
        },
        {
            'labels': genre_list,
            'values': company_genre_df.iloc[1, : -1],
            'type': 'pie',
            'name':  company_genre_df.index[1],
            'domain': {'x': [.52, 1],
                       'y': [0, .49]},
            'hoverinfo':'label+percent+name',
            'textinfo':'none'

        },
        {
            'labels': genre_list,
            'values': company_genre_df.iloc[2, : -1],
            'type': 'pie',
            'name':  company_genre_df.index[2],
            'domain': {'x': [0, .48],
                       'y': [.51, 1]},
            'hoverinfo':'label+percent+name',
            'textinfo':'none'
        },
        {
            'labels': genre_list,
            'values': company_genre_df.iloc[3, : -1],
            'type': 'pie',
            'name': company_genre_df.index[3],
            'domain': {'x': [.52, 1],
                       'y': [.51, 1]},
            'hoverinfo':'label+percent+name',
            'textinfo':'none'
        }
    ],
    'layout': {'title': 'four companies preferences of genres',
               'showlegend': True}
}

plotly.offline.plot(fig, filename = 'four_companies_genre.html')

'file:///Users/yueying.teng/Documents/TMDB/four_companies_genre.html'

### language & time

In [165]:
name_lan_year_dict = {'name': [], 'year': [], 'company': [], 'lan': []}

for i in range(df.shape[0]):
    name = df['original_title'].iloc[i]
    year = df['release_year'].iloc[i]
    companies = df['production_company'].iloc[i]
    lan = df['original_language'].iloc[i]
    
    for j in range(len(companies)):
        name_lan_year_dict['name'].append(name)
        name_lan_year_dict['year'].append(year)
        name_lan_year_dict['lan'].append(lan)
        name_lan_year_dict['company'].append(companies[j])
        
name_lan_year_df = pd.DataFrame(name_lan_year_dict)
name_lan_year_df.head()

,name,year,company,lan
0,Hot Tub Time Machine 2,2015,Paramount Pictures,en
1,Hot Tub Time Machine 2,2015,United Artists,en
2,Hot Tub Time Machine 2,2015,Metro-Goldwyn-Mayer (MGM),en
3,The Princess Diaries 2: Royal Engagement,2004,Walt Disney Pictures,en
4,Whiplash,2014,Bold Films,en

In [182]:
four_comp_lan_df = name_lan_year_df[name_lan_year_df['company'].isin(top_companies[:4])]

for i in top_companies[: 4]:
    one_df = four_comp_lan_df[four_comp_lan_df['company'].isin([i])]
    print(one_df.groupby('lan').nunique())

     name  year  company  lan
lan
en    482    69        1    1
es      1     1        1    1
fr      1     1        1    1
hi      2     2        1    1
ja      4     3        1    1
     name  year  company  lan
lan
de      1     1        1    1
en    455    58        1    1
ja      2     2        1    1
ru      1     1        1    1
     name  year  company  lan
lan
de      1     1        1    1
en    386    69        1    1
fr      1     1        1    1
it      2     2        1    1
pt      1     1        1    1
     name  year  company  lan
lan
da      1     1        1    1
en    332    68        1    1
es      1     1        1    1
fr      1     1        1    1
ja      1     1        1    1

### popularity through out year

In [229]:
pop_year_dict = {'name': [], 'year': [], 'company': [], 'pop': []}

for i in range(df.shape[0]):
    name = df['original_title'].iloc[i]
    year = df['release_year'].iloc[i]
    companies = df['production_company'].iloc[i]
    pop = df['popularity'].iloc[i]
    
    for j in range(len(companies)):
        pop_year_dict['name'].append(name)
        pop_year_dict['year'].append(year)
        pop_year_dict['pop'].append(pop)
        pop_year_dict['company'].append(companies[j])
        
pop_year_df = pd.DataFrame(pop_year_dict)
pop_year_df.head()

,name,year,company,pop
0,Hot Tub Time Machine 2,2015,Paramount Pictures,6.575393
1,Hot Tub Time Machine 2,2015,United Artists,6.575393
2,Hot Tub Time Machine 2,2015,Metro-Goldwyn-Mayer (MGM),6.575393
3,The Princess Diaries 2: Royal Engagement,2004,Walt Disney Pictures,8.248895
4,Whiplash,2014,Bold Films,64.299990

In [248]:

df1 = pop_year_df[pop_year_df['company'].isin(['Warner Bros.'])]
df1 = df1.groupby('year').mean().reset_index().rename(columns = {'pop': 'Warner_Bros_pop'})

df2 = pop_year_df[pop_year_df['company'].isin(['Universal Pictures'])]
df2 = df2.groupby('year').mean().reset_index().rename(columns = {'pop': 'Universal_pop'})

df3 = pop_year_df[pop_year_df['company'].isin(['Paramount Pictures'])]
df3 = df3.groupby('year').mean().reset_index().rename(columns = {'pop': 'Paramount_pop'})

df4 = pop_year_df[pop_year_df['company'].isin(['Twentieth Century Fox Film Corporation'])]
df4 = df4.groupby('year').mean().reset_index().rename(columns = {'pop': 'Twentieth_Century_pop'})

In [249]:
df_list = [df1, df2, df3, df4]

for df in df_list:
    df.set_index(['year'], inplace = True)

pop_df = pd.concat(df_list, axis = 1) # join='inner'
# pop_df.reset_index(inplace = True)
pop_df.head()

/Users/yueying.teng/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

      Warner_Bros_pop  Universal_pop  Paramount_pop  Twentieth_Century_pop
1927              NaN            NaN      14.487867                    NaN
1928         0.251353            NaN            NaN                    NaN
1931              NaN       7.797364            NaN                    NaN
1932              NaN            NaN       1.914697                    NaN
1933         4.718154            NaN       1.687069                    NaN

In [282]:

data = []

for i in range(len(top_companies[:4])):
    trace = go.Scatter( x = pop_df.index.values,
                        y = pop_df.iloc[:, i],
                        name = pop_df.columns[i],                   
                        mode = 'lines+markers')
    data.append(trace)
    

layout = dict(title = 'major production companies and their movie popularity through out history',
              xaxis = dict(title = 'year'),
              yaxis = dict(title = 'popularity'),
              width = 1000,
              height = 600,
              margin = dict(l = 40, r = 10, b = 100, t = 100, pad = 4))

fig = dict(data = data, layout = layout)

plotly.offline.iplot(fig, filename = 'four_companies_popularity.html')

In [276]:

def return_pop_movie_given_year(year):
    y = pop_year_df[pop_year_df['year'] == year]
    y = y[y['company'].isin(top_companies[: 4])]
    
    print (y.loc[np.argmax(y['pop'])], '\n')

In [278]:
# years to look into - 1972, 1982, 2009, 2015, 2017 

return_pop_movie_given_year('1972')
return_pop_movie_given_year('1982')
return_pop_movie_given_year('2009')
return_pop_movie_given_year('2015')
return_pop_movie_given_year('2017')
return_pop_movie_given_year('1999')

name            The Godfather
year                     1972
company    Paramount Pictures
pop                   41.1093
Name: 3000, dtype: object

name       Blade Runner
year               1982
company    Warner Bros.
pop             96.2724
Name: 14329, dtype: object

name                                       Avatar
year                                         2009
company    Twentieth Century Fox Film Corporation
pop                                       185.071
Name: 17141, dtype: object

name                  Minions
year                     2015
company    Universal Pictures
pop                   547.488
Name: 17791, dtype: object

name       Wonder Woman
year               2017
company    Warner Bros.
pop             294.337
Name: 1413, dtype: object

name                                   Fight Club
year                                         1999
company    Twentieth Century Fox Film Corporation
pop                                       63.8696
Name: 6402, dtype: object

/Users/yueying.teng/miniconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:51: FutureWarning:

'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.